/* *{border: 1px solid gold;} */
/* ======== Global ======== */
body{
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    background: rgb(213, 214, 214);
}

/* ======== Container ======== */
.container {
    width: 99%;
    margin: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
}
.headline{
    flex-direction: column;
    width: 98%;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 3%;
    border: 2px solid black;
    border-radius: 10px;
    padding-top: 3%;
    padding-bottom: 3%;
    font-size: 3em;
}
/* ======== Tic Tac Toe Game ======== */
.tictactoe{
    border: 2px solid black;
    border-radius: 10px;
    background: rgb(213, 214, 214);
    display: flex;
    flex-direction: column;
    width: 98%;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 3%;
} 
/* ======== Top Section ======== */
.top-section{
    width: 99%;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    display: flex;
}
/* ======== Middle Section ======== */
.gameboard{
    background-color: whitesmoke;
    width: 319px;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 5%;
}
.row{
    display: flex;
}
.cell{
    display: flex;
    width: 111px;
    height: 101px;
    font-size: 5em;
    text-align: center;
    justify-content: center;
    padding-top: 10px;
}
.cell:hover{
    cursor: pointer;
}
.bottom{
    border-bottom: 2px solid black;
}
.right{
    border-right: 2px solid black;
}
/* ======== Bottom Section ======== */
.bottom-section{
    width: 99%;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 5%;
}
#restart{
    background: rgb(247, 45, 45);
    color: white;
    width: 30%;
    margin: auto;
    border: 3px solid black;
    border-radius: 5px;
    padding: 15px; 
    font-size: 1.2em;
}
#restart:hover{
    cursor: pointer;
}
/* ======== X and O ======== */
.x{
    text-transform: uppercase;
    color:red;
}
.o{
    text-transform: uppercase;
    color: green;
}
/* ======== Min Width Declaration ======== */
@media only screen and (min-width: 600px){
    .tictactoe{
        width: 600px;
    margin: auto;
    }
    .headline{
        width: 600px;
    }
}